<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask DataFrame Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Tax and salary calculator</h1>
        </header>
        
        <form method="POST">
            <label for="input-value">Enter you CTC in integer:</label>
            <input type="number" name="value" id="input-value" required>
            <button type="submit">Generate</button>
        </form>

        {% if table %}
            <div class="result">
                <h2>Generated Data</h2>
                <div class="table-responsive">
                    {{ table|safe }}
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
